@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

$main: rgba(#2C3433, .95);
$white: #fff;
$black: #000;
$dark: #2C3433;
$grey: #9e9e9e;
$border: #ddd;
$disabled: #aaa;
$success: #4CAF50;
$warning: #FF851B;
$error: #FF4136;
$info: #0074D9;
$purple: #8A2BE2;

$header: 64px;

* {
	 box-sizing: border-box;
}

body {
	font-family: 'Playfair Display', serif;
}

.uppercase{ text-transform: uppercase !important; }
.center{ text-align: center !important; }
.pull-right{ float: right !important; }
.font{ font-family: 'Dancing Script', cursive; }
.underlined{ text-decoration: underline; }

h2, h3, h4, h5, h6, a, .color{ color: $main !important; }
h2{ margin-top: 1rem; }

a{
	transition: color 0.3s;

	&:hover{
		text-decoration: none !important;
		cursor: pointer;
		color: rgba($main, .5) !important;
	}
}

pre{
	border: none !important;
	border-radius: 0 !important;
}

.header-block{
	position: relative;
	margin: 3rem 0 !important;
	font-size: 1.7rem;

	&:before{
		position: absolute;
		content: '';
		bottom: -16px; left: 50%;
		width: 32px; height: 2px;
		transform: translateX(-50%);
		background-color: $main;
	}
}

body{ padding-top: 32px; }

div.overlay{
	position: fixed;
	display: none;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba($dark, .1);
	z-index: 9;
}

div.scroll-catcher{
	position: fixed;
	width: 100%; height: 1px;
	top: 25%; left: 0; right: 0;
	opacity: 0;
	transform: translateY(-25%);
}

/* PAGE HEADER */
header{
	position: fixed;
	height: $header;
	top: 0; right: 0; left: 0;
	padding: 0 12.5%;
	background-color: rgba($white, .9);
	z-index: 10;

	a.logo{
		float: left;
		height: $header;
		line-height: $header;
		margin: 0; padding: 0;
		color: $dark !important;
		font-size: 2rem;
		cursor: pointer;
	}

	div.right-menu{
		a{
			height: $header;
			line-height: $header;
			margin: 0 12px;
			color: $dark !important;
			font-weight: 600;
			transition: color 0.3s;
			font-size: 32px;

			&.menu-link{
				font-size: 14px;
				float: left;

				&.is-active{ color: $main !important; }
			}

			&:hover{ color: rgba($dark, .5) !important; }
		}
	}

	div.mobile-menu-trigger{
		display: none;
		position: absolute;
		top: 50%; left: 16px;
		font-size: 24px;
		color: $dark;
		cursor: pointer;
		transform: translateY(-50%);
	}

	@media all and (max-width: 768px){
		background-color: $white;

		a.logo{
			width: 100%;
			text-align: center;
		}

		div.right-menu{
			position: fixed;
			width: 66.6666%;
			left: 0; top: $header; bottom: 0;
			background-color: $white;
			z-index: 10;
			transform: translateX(-100%);
			transition: transform 0.4s;

			a{
				float: left;
				display: block;
				width: 100%; height: $header / 2;
				line-height: $header / 2;
				margin: 8px 0;
				text-align: center;
				font-size: 16px;
				text-transform: uppercase;

				&.gh-link-first, &.gh-link-last{
					width: 50%;
					display: inline-block;
					margin-top: 12px; padding: 0 24px;
					font-size: 32px;

					&.gh-link-first{ text-align: right; }
					&.gh-link-last{ text-align: left; }
				}
			}

			&.is-active{ transform: translateX(0); }
		}
		div.mobile-menu-trigger{ display: block; }
	}

	@media all and (max-width: 480px){
		padding: 0 64px;

		div.right-menu{ width: 100%; }
	}
}

article{
	float: left;
	display: block;
	width: 100%;
	margin: 8px 0;
	padding: 8px 0;
}

.demo-title:before{
	content: '\f105';
	margin: 0 8px;
	vertical-align: baseline;
	font-family: 'fontAwesome';
	font-size: 18px;
	font-weight: 600;
	color: $main;
}

.demo{ margin-bottom: 8px; }

.btns-examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn {
	min-width: 150px;
	padding: 8px 5px;
	background-color: $white;
	border: 2px solid $dark;
	color: $dark;
	border-radius: 25px;

	&:hover {
		color: $dark;
		background-color: transparent;
	}

	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

.btn-success {
	border: 2px solid darken($success, 5%);
	background-color: $success;
	color: $white;

	&:hover {
		border: 2px solid darken($success, 5%);
	}
}

.btn-warning {
	border: 2px solid darken($warning, 5%);
	background-color: $warning;
	color: $white;

	&:hover {
		border: 2px solid darken($warning, 5%);
	}
}

.btn-error {
	border: 2px solid darken($error, 5%);
	background-color: $error;
	color: $white;

	&:hover {
		border: 2px solid darken($error, 5%);
	}
}

.btn-info {
	border: 2px solid darken($info, 5%);
	background-color: $info;
	color: $white;

	&:hover {
		border: 2px solid darken($info, 5%);
	}
}

.btn-bug {
	border: 2px solid darken($purple, 5%);
	background-color: $purple;
	color: $white;

	&:hover {
		border: 2px solid darken($purple, 5%);
	}
}

.btn-disabled {
	border: 2px solid darken($disabled, 5%);
	background-color: $disabled;
	color: $white;

	&:hover {
		border: 2px solid darken($disabled, 5%);
	}
}

.btn-default:hover {
	color: $white;
	background-color: $dark !important;
	border: none;
}



/* FLASH MESSAGES */
.flash-container {
	position: fixed;
	top: 75px;
	right: 15px;
	z-index: 1000;
	max-width: 25%;

	.flash-message {
			position: relative;
			opacity: 0;
			min-height: 28px;
			transform: translateX(-20px);
			transition: all .5s;
			background-color: $white;
			color: $dark;
			border-radius: 0;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			margin-bottom: 10px;
			padding: 5px 35px 5px 20px;
			box-shadow: 2px 2px 33px 8px rgba($black, 0.1);
			line-height: 1.4;
			cursor: pointer;

			&:before {
					position: absolute;
					content: '';
					width: 7px;
					height: 100%;
					top: 0;
					bottom: 0;
					left: -7px;
					background-color: transparent;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
			}

			&:after {
					position: absolute;
					content: '';
					font-family: 'fontAwesome';
					top: 5px;
					right: 8px;
					text-align: center;
					vertical-align: middle;
					color: $grey;
			}

			&.is-visible {
					opacity: 1;
					transform: translateX(0);
			}

			&.flash-success {
					&:before{ background-color: rgba($success, .8); }
					&:after{
						color: rgba($success, .5);
						content: '\f058';
					}
			}
			&.flash-warning {
					&:before{ background-color: rgba($warning, .8); }
					&:after{
						color: rgba($warning, .5);
						content: '\f071';
					}
			}
			&.flash-danger, &.flash-error {
					&:before{ background-color: rgba($error, .8); }
					&:after{
						color: rgba($error, .5);
						content: '\f06a';
					}
			}
			&.flash-info {
					&:before{ background-color: rgba($info, .8); }
					&:after{
						color: rgba($info, .5);
						content: '\f05a';
					}
			}
			&.flash-bug {
					&:before{ background-color: rgba($purple, .8); }
					&:after{
						color: rgba($purple, .5);
						content: '\f188';
					}
			}
			&.flash-disabled {
					&:before{ background-color: rgba($disabled, .8); }
					&:after{
						color: rgba($disabled, .5);
						content: '\f05e';
					}
			}
			&.flash-default {
				padding-right: 20px;
			}
	}
}